server {
    listen 80;
    
    server_name {{site_domain}};
    
    location / {
        proxy_pass http://127.0.0.1:{{target_port}}/;
        proxy_read_timeout 120s;
        access_log off;
    }
}